@import url("https://fonts.googleapis.com/css?family=Acme|Lobster|Patua+One|Rubik|Sniglet|Quicksand|Barlow");
*{
                    margin:0;
                    padding: 0;
                    box-sizing: border-box;
                    font-family: "poppins",sans-serif;

}
body{
                    background-color: aliceblue;
}
.wrapper{
                  
                    width: 400px;
                    padding: 2rem 1rem;
                    margin: 50px auto;
                    background-color: #fff;
                    border-radius: 10px;
                    text-align: center;
                    box-shadow: 0 20px 35px rgba(0,0,0,0.1);
}
h1{
                    font-size: 2rem;
                    color: #07001f;
                    margin-bottom: 1.2rem;
                    text-decoration:underline
}
form input{
                    width: 92%;
                    outline: none;
                    border: 1px solid #fff;
                    padding: 12px 20px;
                    margin-bottom: 10px;
                    border-radius: 15px;
                    background-color: #e4e4e4;
                    font-size: 1rem;

}
button{
                    font-size: 1rem;
                    margin-top: 1.8rem;
                    padding: 10px 0;
                    border-radius: 25px;
                    outline: none;
                    border: none;
                    width: 40%;
                    color: #fff;
                  
                    cursor: pointer;
                    background: rgb(32, 169, 228);
}
button:hover{
                    background: rgba(17,107,143,0.877);
}
input:focus{
                    border: 1px solid rgb(118, 228, 240);
}
.terms{
                    margin-top: 0.2rem;

}
.terms input{
                    height: 1em;
                    width: 1em;
                    vertical-align: middle;
                    cursor: pointer;
}
.terms label{
                    font-size: 0.7rem;
}
.terms a{
                    color: rgb(17,107,143);
                    text-decoration: none;
                    font-size: 0.9rem;

}
.member{
                    font-size: 0.8rem;
                    margin-top: 1.4rem;
                    color: #636363;
                    font-size: 1rem;
}
.member a{
                    color: rgb(17,107,143);
                    text-decoration: none;
                    font-size: 1rem;
}
.recover{
                    text-align: right;
                    font-size: 0.9rem;
                    margin: 0.3rem 1.4rem 0 0;
}
.recover a{
                    text-decoration: none;
                    font-size: 0.9rem;
                    color:#464647
}